@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #7b95b4;
}

#tentacles {
    width: 60px;
}


h2,h3,p {
    text-align: center;
    color: white;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container{
    display: flex;
    align-content: center;
}

.stats-container:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #192427;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

.header-text {
    font-family: 'Cabin';
    font-size: 40px;
    color:  #7b95b4;
    margin-left: 20px;
}

#games-container {
    display: flex;
    overflow-x: auto;       
    gap: 20px;              
    padding: 10px;
    scroll-behavior: smooth; 
    color: black;
}

.game-card {
    flex: 0 0 auto;          
    width: 300px;            
}
#games-container::-webkit-scrollbar {
    height: 8px;
}

#games-container::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 4px;
}

#games-container::-webkit-scrollbar-track {
    background: #f1eded;
}

.game-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
    margin-bottom: 10px;
    display: block;
    object-fit: contain;
    margin: 0 auto;
    width: 100%;
}


.game-card {
    background-color: #192427;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    box-sizing: border-box;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}